.header {
    background-color: white;

}
ul li {
    display: inline-block;
    margin: 10px;
}
.image{
    background-image: url(portf.png);
     background-repeat: no-repeat; 
     background-size: cover;
     /* height: ; */
}

    